/* TODO Add site wide styles */
.form{
    width: 300px;
    display: block;
    border: 2px solid red;
    border-radius: 8px;
    padding: 20px;
}

.form label{
    padding: 10px;
}

.form input{
    margin: 10px;
}